:root{
    --siteColor:#FFCC02;
    --siteGray:#9B9DA3;
    --bgColor:#1E2024;
}

.bgDark{
    background-color: var(--bgColor);
}

.btn-site{
    background-color: var(--siteColor);
}

.text-gray{
    color:var(--siteGray);
}

.text-site{
    color:var(--siteColor);
}
.bgSecondary{
    background-color: #EBEFF5;
}

.leftBorder{
    border-left: 8px solid var(--siteColor);
}

.fs-8{
    font-size: .8rem;
}

.fs-9{
    font-size: .9rem;
}

.rightBorder{
    border-right:1px solid #31404B;
}

.conWidth{
    width:100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.logoBg{
    background-color: var(--bgColor);
}

.logoColor{
    color:#fff;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar-nav .nav-link.active{
    background-color: var(--siteColor);
    color:var(--bgColor)!important;
}

/* nAV SECTION */

/* home section */

.Home{
    background-image: linear-gradient(rgba(30,32,36,.8),rgba(30,32,36,9));
}
.carousel-indicators {
    justify-content: end;
    top:0;
    right:-70px;
}

.carousel-indicators [data-bs-target] {
    height:20px;
    width:20px;
    opacity:1;
    transition: width 1s;
}


.carousel-indicators .active{
background-color: var(--siteColor);
width:40px;
}

.homeContent .container{
    width:95%;
}

.article{
    padding-top:200px;
    background-size: cover;
}

.article1{
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../images/news-700x435-1.jpg');
}
.article2{
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../images/news-700x435-2.jpg');
}
.article3{
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../images/news-700x435-3.jpg');
}
.article4{
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../images/news-700x435-4.jpg');
}

@media screen and (min-width:992px){
    .conWidth{
        width:85%;
    }
    
    .logoBg{
        background-color: transparent;
    }
    .logoColor{
        color:var(--bgColor);
    }

    .homeContent .container{
        width:75%;
    }
}